.footer-container {
  margin-top: 100px;
  background: #eee;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  padding-bottom: 10px;
  font-size: 14px;
}
.footer-container p {
  padding-left: 25px;
  padding-top: 10px;
  font-size: 14px;
}
.footer-logo-container {
  width: 200px;
  margin-bottom: 10px;
}
.footer-link-container {
  padding-left: 23px;
  font-weight: bold;
}
.footer-link-container a {
  margin-right: 25px;
}
.soc-media-container {
  position: relative;
  padding-right: 23px;
  top: 75px;
}

.soc-media-container i {
  color: var(--pink);
  margin-left: 15px;
  margin-right: -5px;
}
.soc-media-container a {
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .footer-link-container {
    display: flex;
    flex-direction: column;
  }
  .footer-link-container a {
    margin-bottom: 5px;
  }
  .soc-media-container a {
    display: none;
    width:
  }
  .soc-media-container i {
  font-size: 25px;
  }
}
