* {
  box-sizing: border-box;
}

:root {
  --pink: #CC0099;
  --purple: #a14ebf;
  --blue: #6c91bf;
  --teal: #5fb0b7;
  --green: #5bc8af;
}

body {
  font-family: 'Raleway', sans-serif;
}

a {
  color: var(--blue);
  text-decoration: none;
}

button {
  border: none;
  font-family: 'Raleway', sans-serif;
  width: 130px;
  height: 35px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #FFF;
}

h1 {
  color: var(--purple);
  font-family: 'Crete Round', serif;
  font-size: 35px;
  margin: 20px 0;
}
p {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 20px;
}
blockquote {
  position: relative;
  quotes: "\201C""\201D""\2018""\2019";
  margin: 30px 0 30px 60px;
  line-height: 1.3;
  font-style: italic;
}
blockquote::before {
  font-family: "Playfair Display", serif;
  font-size: 80px;
  content: open-quote;
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  top: -30px;
  left: -50px;
  color: var(--teal);
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-text {
  text-align: center;
}
.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
}
.preamble {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
