:root {
  --pink: #CC0099;
  --purple: #a14ebf;
  --blue: #6c91bf;
  --teal: #5fb0b7;
  --green: #5bc8af;
}

body {
  font-family: 'Raleway', sans-serif;
}

a {
  color: var(--blue);
}

h1 {
  color: var(--purple);
  font-family: 'Crete Round', serif;
  font-size: 48px;
}

strong {
  font-weight: 700;
}

.wrapper {
  background: lightblue;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
