i {
  margin-left: 5px;
}

.header-container {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 10px;
  width: 100%;
}

.header-container-right a {
  display: flex;
  align-items: center;
}

.header-container-left {
  height: 50px;
  padding-left: 50px;
  display: flex;
}

.header-container-left img {
  width: 200px;
}

.header-container-right {
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
.header-container-right-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .header-container-right {
    display: none;
  }
  .header-container-right-mobile {
    display: block;
    display: flex;
    align-items: center;
    padding-right: 40px;
    font-size: 25px;
    color: #272727;
  }
}
