i {
  margin-left: 5px;
}

.header-container {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 10px;
  width: 100%;
}

.header-container-right a {
  color: inherit;
  display: flex;
  align-items: center;
}

.header-container-left {
  height: 50px;
  padding-left: 50px;
  display: flex;
}

.header-container-left img {
  width: 200px;
}

.header-container-right {
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
