img {
  width: 100%;
}

h2 {
  margin-bottom: 10px;
  font-weight: 700;
}

.button-apply {
  background-color: var(--green);
}

.button-share {
  background-color: var(--blue);
}

.single-job-description-container {
  margin-bottom: 20px;
}

.single-job-container{
  margin: auto;
  width: 700px;
}

.single-job-description-container {
  display: flex;
}

.single-job-description-container-image,
.single-job-description-container-text {
  width: 50%;
}

.single-job-description-container-text {
  margin-left: 20px;
}

.single-job-button-container {
  display: flex;
  justify-content: center;

}

.single-job-button-container button {
  margin: 10px 20px;
}

.single-job-image-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

.single-job-image-container-portrait {
  width: 30%;
  height: auto;
}

.single-job-image-container-portrait img {
  border-radius: 50%;
}
.single-job-navigation-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 40px;
  border-top: 1px solid darkgrey;
}
.single-job-navigation-item {
  width: 30%;
  text-align: center;
}
