img {
  width: 100%;
}

h2 {
  margin-bottom: 10px;
  font-weight: 700;
}

.button-apply {
  background-color: var(--green);
}

.button-share {
  background-color: var(--blue);
}

.preamble span {
  color: var(--blue);
}

.single-job-description-container {
  margin-bottom: 20px;
}

.single-job-container{
  margin: 50px auto 0;
  width: 700px;
}

.single-job-description-container img {
  float: left;
  width: 50%;
  height: auto;
  margin-right: 20px;
}

.single-job-description-container::after {
  content:"";
  display: table;
  clear: both;
}

.single-job-description-container-text {
  margin-left: 20px;
}

.single-job-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.single-job-button-container button {
  margin: 10px 20px;
  border-radius: 5px;
}

.single-job-image-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

.colleague-container {
  width: 33.33%;
}

.single-job-image-container .employee-info p {
  font-size: 12px;
}

.single-job-navigation-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 40px;
  border-top: 1px solid darkgrey;
}
.single-job-navigation-item {
  width: 30%;
  text-align: center;
}

@media (max-width: 1200px) {
  .single-job-container{
    width: 90%;
  }
}
