.job-listing-container {
  width: 100%;
}
.job-listing-info-container {
  width: 43%;
}
.job-listing-selector-container select {
  background-color: var(--blue);
  height: 35px;
  width: 150px;
  margin: 10px 40px 10px 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #FFF;
  outline: none;
  text-indent: 20px;
}

.icon-wrapper {
  position: relative;
  display: inline;
}

.job-listing-selector-container i {
  position: absolute;
  color: #fff;
  right: 45px;
  top: 2px;
  width: 20px;
  font-size: 20px;
  pointer-events: none;
}

.job-listing-table-container {
  width: 100%;
}
.job-listing-table {
  margin-top: 20px;
  width: 100%;
  border: 2px solid var(--green);
}
.job-listing-table tr {
  padding: 10px;
}
.job-listing-table tr:nth-child(2n) {
  background-color: hsl(166, 50%, 93%);
}
.job-listing-table td:first-child {
  width: 60%;
}
.job-listing-table th {
  text-align: left;
  padding: 30px 30px 40px;
  border-bottom: 2px solid var(--green);
  font-weight: 700;
  background-color: hsl(166, 50%, 57%);
  color: hsl(166, 50%, 95%);
  letter-spacing: 1.5px;
}
.job-listing-table td {
  width: 20%;
  padding: 20px 30px 30px;
  border-bottom: 2px solid var(--green);
}
