.employee-page-container {
  width: 1000px;
}

.employee-page-intro p {
  width: 450px;
}

.employee-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}

.employee-container {
  width: 25%;
}

.employee-button-container {
  display: flex;
  justify-content: center;
}

.load-more-button {
  background-color: var(--pink);
  width: 260px;
}

@media (max-width: 1200px) {
  .employee-page-container {
    width: 90%;
  }
  .employee-container {
    width: 33.33%;
  }
}
