.hero-container {
  position: relative;
}

.hero-info-container {
  position: absolute;
  left: 100px;
  top: 100px;
}

.job-suggestions-container {
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
.button-job-openings {
  background-color: var(--blue)
}
