.hero-container {
  position: relative;
}
.hero-container img {
  object-fit: cover;
  object-position: bottom;
  height: 400px;
}
.hero-container h1 {
  font-size: 70px;
}

.hero-info-container {
  position: absolute;
  left: 390px;
  top: 120px;
}

.job-suggestions-container {
  margin: 60px auto;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.job-suggestion {
  width: 30%;
}

.job-suggestion-image {

}

.job-suggestions-container h2 {
  width: 100%;
  margin-bottom: 20px;
}

.job-suggestions-container h3 {
  font-size: 12px;
  font-weight: bold;
}

.job-suggestions-container p {
  font-size: 12px;
  margin-bottom: 0;
}

.job-openings-container {
  position: relative;
}

.job-openings-info {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-job-openings {
  background-color: var(--blue);
}
