.hero-container {
  position: relative;
}

.hero-info-container {
  position: absolute;
  left: 100px;
  top: 100px;
}

.section-container {
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
